<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Google Login</title>

    <!-- Google Identity Services -->
    <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>
<body style="text-align: center; margin-top: 50px;">

<h2>Login with Google</h2>

<button onclick="googleLogin()">Sign in with Google</button>

<script>
function googleLogin() {
    console.log("Initiating Google Login");

    const client = google.accounts.oauth2.initCodeClient({
        client_id: "714346600470-ahpp8hnev7im005s61bclsul077oj1vg.apps.googleusercontent.com",
        scope: "email profile",
        ux_mode: "popup",
        callback: (response) => {
            console.log("Google response:", response);

            fetch("http://127.0.0.1:8000/dj-rest-auth/google/", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json"
                },
                body: JSON.stringify({
                    code: response.code
                })
            })
            .then(res => res.json())
            .then(data => {
                console.log("Login success:", data);
                localStorage.setItem("access", data.access);
                localStorage.setItem("refresh", data.refresh);
            })
            .catch(err => console.error("Login failed:", err));
        }
    });

    client.requestCode();
}
</script>


</body>
</html>
